{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "TaskMan/login.css" %}" >
</head>
<section class="login">
	<div class="titulo">Staff Login</div>
	<form action="/taskview" method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
    	<input type="text" name="username" required title="Username required" placeholder="Username" data-icon="U">
        <input type="password" name="password" required title="Password required" placeholder="Password" data-icon="x">
        <div class="olvido">
        	<div class="col"><a href="/register.html" title="Ver Carásteres">Register</a></div>
            <!--<div class="col"><a href="#" title="Recuperar Password">Forgot Password?</a></div>-->
        </div>
        <center><input type="Submit" value="Login"/></center>

        <h3> <font color="red">{{text}} </font></h3>
    </form>

</section>
