{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "TaskMan/style.css" %}" >
<link rel="stylesheet" type="text/css" href="{% static "TaskMan/grid.css" %}" >
<!--<link rel="stylesheet" type="text/css" href="{% static "TaskMan/reset.css" %}" >-->
</head>
<body bgcolor="#C8C8C8">
<div><font color:white> Welcome {{user}} </font color> </h1>
<a align="right" href="/logout" ><font color="0000CC">Logout</font></a>	</div>
<br><br><br>

<section class="login">
	
	<form action="/showtask/" method="post" > {% csrf_token %}
		
			{% if task_list %}
			
			<span> Status: <select name="status" value="Hello">

					<option value="Incompleted">Incomplete</option>
					<option value="Finished">Finished</option>
					</select></span><br><br>
					
			<table border="1" bgcolor="#000000">
			<tr>
				<td></td>
				<td>ID</td>
				<td>Title</td>
				<td>Added on</td>
				<td>Complete By</td>
				<td>Status</td>
			</tr>
			{% for tasks in task_list %}

			<tr>
				<td><input type="checkbox" name="checkbox" value={{tasks.taskid }}></td>
				<td> {{tasks.taskid }}</td>
				<td>{{tasks.description }}</td>
				<td> {{tasks.tasktime }}</td>
				<td>{{tasks.deadline}}</td>
				<td> {{tasks.status}} </td>
				
				</tr>
		{% endfor %}
			</table>
		{% endif %}

		<br><br>
{% if action_list %}
		<div style="lign:right;width:350px;height:150px;line-height:3em;overflow:scroll;padding:5px;" border="1">
			<ul>
	{% for actions in action_list %}

		
<li> {{ actions.actiondescription}} </li>

	{% endfor %}
</ul>
</div>
{% endif %}

         <input type="Submit" name="delete" value="Delete Task"/>
         <input type="Submit" name="add" value="Add Task" />
         <input type="Submit" name="sort_added" value="Sort By Added Date" />
         <input type="Submit" name="sort_deadline" value="Sort by Deadline" />
		 <input type="Submit" name="update" value="Update Status" />         
    
    </form>
</section>

</body>